In [1]:
import pandas as pd
import math

In [2]:
df = pd.DataFrame ({
    'n': list(range(1,30)),
    'freq': [math.factorial(365)/((math.factorial(365-n))* 365**n) for n in range (1,30)]
})

In [3]:
df['freq'] = 1 - df['freq']

In [5]:
df.set_index('n')

        freq
n
1   0.000000
2   0.002740
3   0.008204
4   0.016356
5   0.027136
6   0.040462
7   0.056236
8   0.074335
9   0.094624
10  0.116948
11  0.141141
12  0.167025
13  0.194410
14  0.223103
15  0.252901
16  0.283604
17  0.315008
18  0.346911
19  0.379119
20  0.411438
21  0.443688
22  0.475695
23  0.507297
24  0.538344
25  0.568700
26  0.598241
27  0.626859
28  0.654461
29  0.680969